hr.rounded{
    border-top: 1px solid #bbb;
}

#introH{
    color:black;
    background:lawngreen
}

.edu{
    background: yellow;
}

#eduH{
    color:green;
    background: white;
}

.sport{
    background: lawngreen;
    color:green;
}

#dd{
    color:red;
}

.boxy{
    padding: 10px;
    margin: 0px;
    border=10px;
}

.wrap{
    display: flex;
    flex-direction: row;
    
}

.box{
   border: 1px; 
}